<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="simple-provider"/>
    <!--<dubbo:registry address="multicast://224.5.6.7:1234"/>-->
    <dubbo:registry address="zookeeper://192.168.22.130:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <dubbo:protocol name="rmi" port="1099"/>


    <dubbo:service interface="indi.simons.simpleserver.services.IHelloService" ref="helloService"
                   protocol="dubbo"
                   loadbalance="roundrobin"
                   cluster="failover"/>
    <dubbo:service interface="indi.simons.simpleserver.services.IRMIService" ref="rmiService"
                   protocol="rmi"
                   loadbalance="roundrobin"
                   cluster="failover"/>

    <bean id="helloService" class="indi.simons.simpleserver.services.impl.HelloServiceImpl"/>
    <bean id="rmiService" class="indi.simons.simpleserver.services.impl.RMIServiceImpl"/>

</beans>